a{
    color: rgb(255, 145, 8);
 }
 ion-input{
    font-size: 12px;
 }
 ion-toolbar {
   --background: #4eb542 !important;
}
ion-title, ion-buttons{
   color: white;
}
ion-item{
   font-size: 15px;
}
form{
   padding: 20px
}