.content{
   height: 400px;
   margin: 0px;
   text-align: center;
}
.description{
    padding: 0px 50px 0px 50px;
    margin-top: 30px;
}
.img{
    margin-bottom: 30px;
    padding: 70px 50px 0px 50px;
    margin-left: 30px;
    width: 250px;
}

.buttonOne{ 
    margin-top: 60px;
    background-color: white;
    height: 50px;
}