.icon{
    font-size: 100px;
    padding: 100px 100px 0px 100px;
    margin-bottom: 40px;
}
.nextbutton{
    height: 50px;
    width: 200px;
    margin: 20px 50px 75px 50px;
}
.margin{
    margin-left: 120px;
    color: rgb(255, 145, 8);
}