.img{
    margin-bottom: 20px;
    padding: 70px 50px 0px 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.signUpbutton{
    height: 50px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.login{
    text-align: center;
}