<ion-content>
  <form #f="ngForm">
      <ion-icon name="person" class="icon"></ion-icon>
      <ion-item>
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-icon slot="end" name="eye"></ion-icon>
          <ion-input type="password" required [(ngModel)]="newpassword" name="newpassword" placeholder="Nouveau mot de passe"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-icon slot="end" name="eye"></ion-icon>
          <ion-input type="password" required [(ngModel)]="confirmpassword" name="confirmpassword" placeholder="Confimer votre mot de passe"></ion-input>
        </ion-item>
        <ion-button type="ion-button-submit" color="success" [disabled]="f.invalid" (click)="onFinish()" class="sendbutton">Terminer</ion-button><br><br>
        <ion-label class="margin">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          <a [routerLink]="'/reset'" class="back">Retour</a>
        </ion-label>
  </form>
</ion-content>
